
.card {
    margin-left: 30rem;
    margin-top: 10rem;
    background-color:rgb(173, 219, 219);
    width: 30rem;
    height: 20rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.time {
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.jam,.menit,.detik {
    background-color: aqua;
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1rem;
}
