.card {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jam {
    background-color: aqua;
    padding: 7rem 7rem 7rem 7rem;
    margin-right: 10rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.menit {
    background-color: aqua;
    padding: 7rem 7rem 7rem 7rem;
    margin-right: 10rem;
}

.detik {
    background-color: aqua;
    padding: 7rem 7rem 7rem 7rem;
}